*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#f2ebff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #925eed; 
    padding: 10px 20px;
    color: #fff; 
}

.nav-left {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-center {
    display: flex;
    gap: 20px;
}

.nav-center span {
    cursor: pointer;
    font-size: 1rem;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #555; 
    color: #fff; 
    transition: background-color 0.3s ease;
}

.nav-right input[type="text"]:focus {
    background-color: #777; 
}
main{
    margin:40px 20px 20px 20px;
    padding-block: 20px;
}
.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
main .card{
    border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:350px;
}
main .card .text{
    padding:10px;
}
.card-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}
img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}